@import '~global-var.scss';

.header-panel {
  position: relative;
  min-height: calc(100vh + 192px);
}

.social-bar {
  width: 100%;
  background-color: #000;
  color: $lightgrey;
  z-index: 2;
  position: relative;

  & .social-content {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  & .follow-panel {
    height: 56px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;

    & .follow-icon {
      border-right: 1px solid $lightgrey;
      width: 48px;
      height: 100%;
      background-size: 14px;
      background-position: 50%;
      background-repeat: no-repeat;
      cursor: pointer;
      &:hover {
        background-color: $darkgrey;
      }

      &.icon-facebook {
        background-image: url('../../assets/img/icon-facebook.png');
      }

      &.icon-twitter {
        background-image: url('../../assets/img/icon-twitter.png');
      }

      &.icon-linkedin {
        background-image: url('../../assets/img/icon-linkedin.png');
      }

      &.icon-youtube {
        background-image: url('../../assets/img/icon-youtube.png');
      }
    }
  }

  & .check-status {
    float: right;
    height: 56px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;

    & .signin-button {
      background-color: $lightorange;
      height: 100%;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 8px;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: $orange;
      }
    }
  }
}

.navbar {
  color: black;
  background-color: white;
  z-index: 2;
  position: relative;
}
.navbar-content {
  height: 100%;
  color: $grey;
  & .menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    & li {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease-in;
    }
    & .logo-carlotz {
      background-image: url('../../assets/img/logo-carlotz.png');
      height: 92px;
      background-repeat: no-repeat;
      width: 133px;
      margin-right: 32px;
      background-position: 50%;
    }
    & .menu-item {
      height: 64px;
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.menu-item:hover {
  background-color: darkgrey;
  cursor: pointer;
  color: white;
}

.main-panel {
  background-image: url('../../assets/img/background-header.png');
  position: absolute;
  top: 192px;
  left: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  z-index: 1;
  display: flex;
  justify-content: center;
  overflow-y: visible;
  & .search-panel {
    width: 80%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: $darkgrey;
    bottom: 64px;
    left: 0;
    right: 0;
    margin: auto;
    & .search-item {
      height: 92px;
      width: 100%;
      background-color: $darkgrey;
      color: $lightgrey;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 8px;
      padding-right: 8px;
      transition: background .2s ease-in;
      cursor: pointer;
      &:hover {
        background-color: $grey;
      }
    }
  }
}

.search-action-panel {
    width: 80%;
    height: 64px;
    bottom: 0;
    position: absolute;
    display: flex;
    left: 0;
right: 0;
margin: auto;
}
.search-action {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lightorange;
    cursor: pointer;
    & img {
      padding-right: 8px;
    }
}
.refine-action {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $orange;
    cursor: pointer;
    & img {
      padding-right: 8px;
    }
}

@media(min-width: 640px) {
  .main-panel {
    & .search-panel {
      & .search-item {
        width: calc(50% - 32px);
      }
    }
  }
}

@media(min-width: 992px) {
  .header-panel {
    position: relative;
    min-height: 100vh;
  }
  .social-bar {
    & .social-content {
      width: 80%;
      flex-direction: row;
      & .follow-panel,
      & .check-status {
        width: auto;
      }
    }
  }
  .navbar-content {
    height: 100%;
    & .menu {
      height: 100%;
      width: 80%;
    }
  }
  .main-panel {
    top: 0px;
    & .search-panel {
    bottom: 80px;
      & .search-item {
        width: calc((100% - 64px) / 4);
      }
    }
  }
  .search-action-panel {
      width: 40%;
      height: 64px;
      bottom: 32px;
      background-color: red;
      position: absolute;
  }
}
