<div class="video-panel">
  <div class="overlay"></div>
  <p class="info info-contact">
    <img class="info-icon" src="assets/img/icon-contact.png" alt="icon-contact">
    <span class="bar"></span>
    <span>CHOOSE YOUR DEALER CONTACT</span>
  </p>
  <p class="info info-approved">
    <img class="info-icon" src="assets/img/icon-approved.png" alt="icon-approved">
    <span class="bar"></span>
    <span>GET PRE-APPROVED IN SECONDS</span>
  </p>
  <p class="info info-chat">
    <img class="info-icon" src="assets/img/icon-chat.png" alt="icon-chat">
    <span class="bar"></span>
    <span>CHAT LIVE CONTACT ATONCE</span>
  </p>
</div>
