<div class="additional-panel">
  <div class="additional-title">
    <h1>CAR FOR SALE BY MAKE</h1>
  </div>
  <div class="additional-content">
    <ul class="additional-data">
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
    </ul>
    <ul class="additional-data">
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
    </ul>
    <ul class="additional-data">
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
    </ul>
    <ul class="additional-data">
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
    </ul>
    <ul class="additional-data">
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
    </ul>
    <ul class="additional-data">
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
      <li>Acura (XX)</li>
      <li>Aprilia (XX)</li>
      <li>Audi (XX)</li>
      <li>BMW (XX)</li>
    </ul>
  </div>
</div>
